@import "theme";


.items-preview-list{
	.item{
		padding: 30px;

		.box{
			position: relative;

			.image{
				position: relative;
			}

			.content{
				position: relative;
				padding: 20px 10px;

				h3{
					font-size: 32px;
				}

				p{
					margin: 15px 0;
				}

				.text-secondary {
					display: flex;
    				align-items: center;
					.icon{
						margin-right: 10px;
						fill: @textSecondary !important;
					}	
				}
				.tags-container {
					height: 27px !important;
				}
			}
		}
	}

	.med-screen-list {
		display: none;
	}
}


@media only screen and (max-width: 800px){
	.items-preview-list .item{
		padding: 10px;
	}
}

@media only screen and (max-width: 995px){
	.items-preview-list {
		.med-screen-list {
			display: block !important;
		}
		.large-screen-list {
			display: none !important;
		}
	}
}