.profile {
    max-width: 600px;
    margin: 0 auto;

    .image-container {
        display: flex;
        justify-content: flex-end !important;
        padding-right: 1em;
        flex-direction: row;
        position: relative;
        top: 16px;
        img {
            display: block;
            width: 110px;
            height: auto;
            border-radius: 50px;
        }
    }

    h4{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .social-margin {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .social-links {
        display: flex !important;
        flex-direction: row  !important;
        a {
            display: block;
            padding: 0 5px !important;
        }
    }
}

@media only screen and (max-width: 600px) {
    .profile {
        h4 {
            text-align: center !important;
        }
        .image-container {
            top: 0px;
            justify-content: center !important;
            .img {
                margin: 0 auto;
            }
        }
        .social-links {
            justify-content: center;
        }
    }
}