.profile {
    max-width: 600px;
    margin: 20px auto;

    .image-container-wrapper {
        display: flex;
        justify-content: flex-end !important;
        padding-right: 1em;
        flex-direction: row;
        position: relative;
        top: 12px;
        .image-container {
            width: 80px;
            height: 80px;
        }
        .rounded {
            border-radius: 200px;
            overflow: hidden;
        }
    }

    h4{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .social-margin {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .social-links {
        display: flex !important;
        flex-direction: row  !important;
        a {
            display: block;
            padding: 5px 10px !important;
        }
    }
}

@media only screen and (max-width: 600px) {
    .profile {
        h4 {
            text-align: center !important;
        }
        .image-container-wrapper {
            top: 0px;
            padding-right: 0px !important;
            justify-content: center !important;
            .image-container {
                margin: 0 auto;
            }
        }
        .social-links {
            justify-content: center;
        }
    }
}