@background: #171b27;
@textPrimary: #c5c5c5;
@textSecondary: #6888df;
@textTertiary: #848ea8;
@textNormal: #b8b7bf;
@textVisitedLink: #750c83;
@colorPrimary: @textSecondary;
@colorSecondary: #f55555;
@colorError: #f55555;
@colorSuccess: #4caf50;
@fontBold: "Work Sans", sans-serif;
@fontNormal: "Poppins", sans-serif;
@iconWidth: 38px;

* {
    margin: 0;
    padding: 0;
}

body {
    background: @background;
    font-family: @fontNormal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.65;
    color: @textNormal;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em !important;
}
h2 {font-size: 2.441em !important; }
h3 {font-size: 1.953em !important;}
h4 {font-size: 1.563em !important;}
h5 {font-size: 1.25em !important;}

.h1 {
    margin-top: 0;
    font-size: 3.052em;
}
.h2 {font-size: 2.441em;}
.h3 {font-size: 1.953em;}
.h4 {font-size: 1.563em;}
.h5 {font-size: 1.25em;}

/*Captions for comments*/
span + em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
}

small, .text_small {font-size: 0.8em;}

.text-secondary {
    &,
    & a {
        color: @textSecondary;
    }
}

.text-tertiary {
    &,
    & a {
        color: @textTertiary;
    }
}

.text-primary {
    &,
    & a {
        color: @textPrimary;
    }
}

.color-primary {
    color: @colorPrimary;
}

.color-secondary {
    color: @colorSecondary;
}

.d-none {
    display: none;
}

.res-message {
    transition: opacity 0.35s;
}

.opacity-0 {
    opacity: 0;

}

.res-message,
.color-success {
    color: @colorSuccess;
}

.color-error {
    color: @colorError;
}

.wall svg text {
    font: bold 10px sans-serif;
    font-family: @fontBold;
}

#menu-open path {
    fill: @textSecondary;
}

.font-bold,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @fontBold;
}

.error-msg {
    color: red;
}

.text-center {
    text-align: center;
}

.btn {
    height: 50px !important;
    line-height: 50px !important;
    font-size: 14px !important;
    letter-spacing: 1px;
    margin: 0px 0;
    padding: 0 45px !important;
    background-image: linear-gradient(
        to left,
        @colorPrimary,
        @colorSecondary
    ) !important;
    color: #fff !important;
    border: none !important;

    &.disabled {
        opacity: 0.7;
    }
}

.social-links {
    svg{
        fill: @colorPrimary !important;

    }
    list-style: none;
    li {
        padding-bottom: 10px;
    }

    img {
        opacity: 1;
        width: @iconWidth;
        transition: opacity .25s;
    }

    a:hover{
        img {
            opacity: 0.7;
        }
    }
}

.overlay-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
}

.pseudo-divider:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: linear-gradient(
        to left,
        @colorPrimary,
        @colorSecondary
    ) !important;
    bottom: -4px;
    left: 0;
}

.icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

section {
    padding: 60px 0;

    svg {
        display: block;
        margin: 0 auto;

        text {
            font: bold 8px sans-serif;
            font-family: @fontBold;
        }
    }
}

.tag-line {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}



.section-title {
    padding: 20px 0;
    margin-bottom: 35px;
    text-align: center;
}

.field-box {
    width: 100%;
    font-size: 20px;
    background: @background;
    color: @textNormal;
    position: relative;
    z-index: 2;
    outline: 0;
    display: block;
    resize: none;
}

.field-box:not(textarea) {
    height: 48px !important;
}

.input-border {
    padding: 1px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to left,
            @colorPrimary,
            @colorSecondary
        ) !important;
        border-radius: 5px;
    }
}

footer {
    background: darken(@background, 4%);
}

nav ul li a:before {
    background: @colorSecondary;
}

.sidebar-content {
    background: @background;
}

.pagination ul li {
    a {
        background: @colorPrimary;
        color: #fff;

        svg path {
            fill: #fff;
        }
    }

    &.active {
        a {
            background: linear-gradient(
                to left,
                @colorPrimary,
                @colorSecondary
            );
        }
    }
}

.pod-player {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.fill-primary {
    &,
    & path {
        fill: @colorPrimary;
    }
}

.fill-secondary {
    &,
    & path {
        fill: @textSecondary;
    }
}

.blog-post blockquote {
    border-left: 3px solid @colorSecondary;
}

.new-content-indicator {
    background-color: @textSecondary;
    color: white !important;
    letter-spacing: 0.1em;
    margin-left: 0.25em;
    padding: 0.25em;
    border-radius: 0.5em;
}

nav {
    background: @background;
}
.text-secondary {
    &,
    & a {
        color: @textSecondary;
    }
}
.text-tertiary {
    &,
    & a {
        color: @textTertiary;
    }
}
.text-primary {
    &,
    & a {
        color: @textPrimary;
    }
}
.color-primary {
    color: @colorPrimary;
}
.color-secondary {
    color: @colorSecondary;
}
.res-message,
.color-success {
    color: @colorSuccess;
}
.color-error {
    color: @colorError;
}
.field-box {
    background: @background;
    color: @textNormal;
}
footer {
    background: darken(@background, 4%);
}
#cookie-banner {
    background: darken(@background, 4%);
}
nav ul li a:before {
    background: @colorSecondary;
}

.btn {
    position: relative;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 255, 0.322);
    background-image: linear-gradient(
        to left,
        @colorPrimary,
        @colorSecondary
    ) !important;
    margin-top: 0px;
    opacity: 1;
    transition: all 500ms ease;
}
.btn:hover {
    opacity: 0.7 !important;
}
.btn:active {
    top: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 255, 0.322);
}

.pseudo-divider:after {
    background: linear-gradient(
        to left,
        @colorPrimary,
        @colorSecondary
    ) !important;
}
.sidebar-content {
    background: @background;
}
.gatsby-resp-iframe-wrapper {
    padding-bottom: 0 !important;
}
#menu-open path {
    fill: @textSecondary;
}

div[role="navigation"] {
    display: none;
}
.video-container-wrapper {
    max-width: 100%;
    width: 600px;
    left: 0;
    right:0;
}
.video-container {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    div[role="navigation"] {
        display: block;
    }
    .container {
        width: 95% !important;
    }

    section {
        padding: 30px 0;
    }

    section svg text {
        font: bold 12px sans-serif;
        font-family: "Work Sans", sans-serif;
    }
}
